<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" >
    <app-logo></app-logo>
    <h1>Sign In</h1>
  </div>
 
<form>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type ='text' name="username" [(ngModel)] = "PostData.username" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type ='password' name="password" [(ngModel)] = "PostData.password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-label text-left>
        <small><a routerLink='/signup'>Create Account</a></small>
      </ion-label>    
      <ion-label text-right>
         <small><a routerLink='/newpassword'>Forgot Password?</a></small>
      </ion-label>   
    </ion-item>
   

    <ion-button expand="block"  (click)="loginAction()" >Login In</ion-button>
  </ion-list>
</form>
</ion-content>
