<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Enter Your Email</ion-label>
    <ion-input type ='email' name="username"  [(ngModel)] = "userEmail"></ion-input>
  </ion-item>

  <ion-item lines='none'>
    <ion-button  expand="block"  (click)="getResetCode()" >Submit</ion-button>
    <ion-button  expand="block" color="warning" routerLink='/login' >Cancel</ion-button>
  
  </ion-item>

  
</ion-content>
