<ion-slides pager="true" [options]="slideOpts">
 
  <ion-slide>
    <app-logo></app-logo>
    <h2>Welcome to Bright Tele-Care</h2>
 <p>Your Telehealth Program Provider</p>
  </ion-slide>
  <ion-slide>
    <app-logo></app-logo>
    <h2>Our TeleHealth Platform</h2>
 <p>Electronic Consultation</p>
 <p>Virtual Video</p>
 <p>Electronic Prescribing</p>
  </ion-slide>
  <ion-slide>
    <app-logo></app-logo>
    <h2>Our Services</h2>
  <p>Patient Consultation</p>
  <p>Referral Services</p>
  <p>E-Health Patient Services</p>
  <p>Health Information</p>
  <p>E-Prescribing</p>
  </ion-slide>
</ion-slides>