<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>  

  <ion-card>
    <ion-card-header>
      <img src="assets/images/logo_fin.png" width="100%">
      <ion-card-subtitle>TeleHealth Platform</ion-card-subtitle>
      <ion-card-title>Bright Tele-Care</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <h3><b>Electronic Consultation </b></h3>
      <p>Our pool of primary and specialist physicians will treat every patient with medical attention using interactive communications tools via audio call (dedicated hotline) informative website (email) or chat and instant messaging</p><br>
    <h3><b>Virtual Video</b></h3>
    <p>Real-time video conferencing over Live and Remote consult in rendering diagnosis from a specialist doctor to patient.</p><br>
    <h3><b>Electronic Prescribing</b></h3>
    <p>A technology framework that allows physicians and other medical practitioners to write and send prescriptions to participating pharmacy electronically.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <img src="assets/images/service5.jpg" width="100%">
      <ion-card-subtitle>Tele-Health</ion-card-subtitle>
      <ion-card-title>Services</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h3><b>Patient Consultation</b></h3>
      <p>Audio/Video calls, instant messaging and interactive web communication for primary care consultations</p><br>
      <h3><b>Referral Services</b></h3>
      <p>Live video streaming and conferencing for cases that needs medical specialists attention.</p><br>
      <h3><b>E-Health Patient Services</b></h3>
      <p>Provide direct access to patient and services over internet.</p><br>
      <h3><b>Health Information</b></h3>
      <p>Includes the use of internet for consumers to obtain specialized health information and online discussion.</p><br>
      <h3><b>E-Prescribing</b></h3>
      <p>Generates electronic prescription.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/teleconsult.jpg" width="100%">
      <ion-card-subtitle>3 Easy Steps</ion-card-subtitle>
      <ion-card-title>TeleConsultation</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/check.png">
        </ion-avatar>
        <p>Call thru hotline/book appointment thru app</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/check.png">
        </ion-avatar>
        <p>Refer to Licensed Physician</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/check.png">
        </ion-avatar>
        <p>Medical Certificate/Electronic Prescription </p>
      </ion-item>
     </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item class="ion-activated">
      <ion-icon name="call-outline" slot="start" ></ion-icon>
     
      <a href="tel:+632 8 373 0002">Hotline +632 8 373 0002</a>
    </ion-item>
  
    <ion-item >      
      <ion-icon name="people-outline" slot="start" ></ion-icon>    
      <ion-label routerLink='/home/appointments' >My Appointments</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label routerLink='/home/profile'>My Profile</ion-label>
    </ion-item>
  
     
 
  </ion-card>
</ion-content>
