<ion-header>
  <ion-toolbar>
    <ion-title>New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Enter Reset Code</ion-label>
    <ion-input type ='text' name="resetCode" [(ngModel)] = "PostData.resetCode"></ion-input>
  </ion-item>
  <ion-button size="small" (click)="getResetCode()">Resend Code</ion-button>

  <ion-item>
    <ion-label position="stacked">New Password</ion-label>
    <ion-input type ='password' name="password"  [(ngModel)] = "PostData.newPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Confirm Password</ion-label>
    <ion-input type ='password' name="password" [(ngModel)] = "PostData.confirmPassword"></ion-input>
  </ion-item>

 

  <ion-item lines='none'>
    <ion-button  expand="block"  (click)="submitPassword()" >Submit</ion-button>
    <ion-button  expand="block" color="warning" routerLink='/login' >Cancel</ion-button>
  
  </ion-item>

</ion-content>
