<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>
  
  </ion-list>

  <ion-grid>
    <ion-row *ngFor="let item of messages">
      <ion-col size-9 *ngIf="currentUserName !== item.MessageFrom" class="message other-message">
        <b>{{item.SenderName}}</b><br>
        <span>{{item.MessageContent}}</span>
        <div class="time" text-right><br>
          {{item.CreatedDate | date:'short'}}
        </div>
      </ion-col>

      <ion-col size-3 *ngIf="currentUserName === item.MessageFrom" class="message my-message">
        <b>{{item.SenderName}}</b><br>
        <span>{{item.MessageContent}}</span>
        <div class="time" text-right><br>
          {{item.CreatedDate | date:'short'}}
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>

  
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center no-padding>
      <ion-col size ="10">
        <textarea autosize maxRows="3" [(ngModel)] ="newMsg" class="message-input"> 

        </textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg=== ''" class="msg-button"
        (click) = "sendMessage()">
        <ion-icon name="send-outline" slot = "icon-only">

        </ion-icon>

        </ion-button>

      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
